<div class="tab-pane fade show active" id="seperation" role="tabpanel" aria-labelledby="seperation-tab">
  <div class="form-row align-items-end mb-3 pb-3 border-bottom">
    <div class="col-10">
      <h4 class="mb-0">Notice Period Details</h4>
    </div>
    <div class="col-2 text-right">
      <div class="btn-more ml-auto shadow btn-custom ml-2" (click)="OnOpenPopup(0,'Add')" data-toggle="modal" data-target="#addNoticePeriod"
           data-tooltip="tooltip" data-placement="top" title="Add Notice Period">
        <i class="icon icon-plus-symbol h3 mb-0"></i>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-12 table-responsive mb-3">
      <lib-ui-data-table [Configuration]="SeperationConfig">
        <ng-template let-data>
          <tr>
            <td class="text-nowrap">
              <div class="btn-more d-inline-block shadow btn-blue" (click)="OnOpenPopup(data.index, 'Edit')" data-tooltip="tooltip"
                   data-placement="top" title="Edit Notice Period Details">
                <i class="icon icon-edit h3 mb-0"></i>
              </div>
            </td>
            <td class="text-nowrap"> {{data.data.NoticePeriodName}}</td>
            <td class="text-nowrap"> {{data.data.NoticePeriodDays}}</td>
            <td class="text-nowrap"> {{data.data.PublishTo}}</td>
          </tr>
        </ng-template>
      </lib-ui-data-table>
    </div>
  </div>

  <div class="form-row align-items-end mb-3 pb-3 border-bottom">
    <div class="col-10">
      <h4 class="mb-0">Seperation</h4>
    </div>
  </div>
  <div class="col-md-6 mb-3">
    <div class="form-row align-items-center pt-3">
      <div class="col-sm-4">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" name="gender" id="aupto" class="custom-control-input"
                 value="male" checked="">
          <label class="custom-control-label h5 pl-2" for="aupto">Allow Upto</label>
        </div>
      </div>
      <div class="col-sm-2">
        <input class="form-control" type="text" value="" placeholder="">
      </div>
      <div class="col-sm-4">
        <label class="h6 mb-1 text-muted">Day(s)</label>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-3">
    <label class="h6 mb-1">Allow Relieving date to be WeeklyOff/Holiday</label>
    <div class="form-row align-items-center pt-2">
      <div class="col-2">
        <div class="custom-control custom-radio">
          <input type="radio" name="gender" id="010" class="custom-control-input"
                 value="male" checked="">
          <label class="custom-control-label h5 pl-2" for="010">Yes</label>
        </div>
      </div>
      <div class="col-5">
        <div class="custom-control custom-radio">
          <input type="radio" name="gender" id="011" class="custom-control-input"
                 value="male" checked="">
          <label class="custom-control-label h5 pl-2" for="011">Previous Working day</label>
        </div>
      </div>
      <div class="col-5">
        <div class="custom-control custom-radio">
          <input type="radio" name="gender" id="012" class="custom-control-input"
                 value="male" checked="">
          <label class="custom-control-label h5 pl-2" for="012">Next working day</label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 mb-3">
    <label class="h6 mb-1">Allow Manager to</label>
    <div class="form-row pt-2">
      <div class=" col-md-4 mb-2">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="d18">
          <label class="custom-control-label h5 pl-2" for="d18">Resign on behalf of subordinate</label>
        </div>
      </div>
      <div class=" col-md-4 mb-2">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="d19">
          <label class="custom-control-label h5 pl-2" for="d19">Edit Exit date</label>
        </div>
      </div>
      <div class=" col-md-4 mb-2">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="d20">
          <label class="custom-control-label h5 pl-2" for="d20">Edit Recovery days</label>
        </div>
      </div>
      <div class=" col-md-4 mb-n2">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="d21">
          <label class="custom-control-label h5 pl-2" for="d21">Raise Termination</label>
        </div>
      </div>
      <div class=" col-md-4 mb-2">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="d22">
          <label class="custom-control-label h5 pl-2" for="d22">Raise Absconding Workflow</label>
        </div>
      </div>
      <div class=" col-md-4 mb-2">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="rsid22">
          <label class="custom-control-label h5 pl-2" for="rsid22">Raise Suspension Workflow</label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 mb-3 pt-2">
    <div class="custom-control custom-checkbox" data-toggle="collapse" href="#absconding">
      <input type="checkbox" name="gender" id="111" class="custom-control-input"
             value="male">
      <label class="custom-control-label h5 pl-2" for="111">Automatically trigger Absconding Workflow</label>
    </div>
    <div class="form-row align-items-center pt-2 collapse" id="absconding">
      <div class="col-sm-4 mb-3">
        <label class="h6 mb-1">Number of days to consider absconded</label>
      </div>
      <div class="col-sm-1 mb-3">
        <input class="form-control" type="text" value="" placeholder="">
      </div>
      <div class="col-sm-4 mb-3">
        <label class="h6 mb-1 text-muted">days of continuous absenteeism</label>
      </div>
      <div class="col-sm-3 mb-3">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" name="gender" id="112" class="custom-control-input"
                 value="male" checked="">
          <label class="custom-control-label h5 pl-2" for="112">Include WeeklyOff/Holiday</label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 mb-3 pt-2">
    <div class="custom-control custom-checkbox" data-toggle="collapse" href="#retirement">
      <input type="checkbox" name="gender" id="211" class="custom-control-input"
             value="male">
      <label class="custom-control-label h5 pl-2" for="211">Automatically trigger Retirement Workflow</label>
    </div>
    <div class="form-row align-items-center pt-2 collapse" id="retirement">
      <div class="col-sm-4 mb-3">
        <label class="h6 mb-1">Retirement Workflow trigger</label>
      </div>
      <div class="col-sm-1 mb-3">
        <input class="form-control" type="text" value="" placeholder="">
      </div>
      <div class="col-sm-4 mb-3">
        <label class="h6 mb-1 text-muted">days prior to Retirement date</label>
      </div>
    </div>
  </div>
  <div class="col-md-12 mb-3 pt-2">
    <div class="form-row align-items-center">
      <div class="col-sm-2">
        <label class="h6 mb-1">Retirement Age</label>
      </div>
      <div class="col-sm-1">
        <input class="form-control" type="text" value="" placeholder="">
      </div>
      <div class="col-sm-4">
        <label class="h6 mb-1 text-muted">Year(s)</label>
      </div>
    </div>
  </div>
  <div class="col-md-12 mb-3">
    <label class="h6 mb-1">User Defined Fields in Resignation</label>
    <table class="table table-bordered">
      <tr>
        <th class="text-center" style="width: 50px;">Enable</th>
        <th>Field Name</th>
        <th>Field Type</th>
        <th>Field Value</th>
        <th class="text-center" style="width: 50px;">Mandatory</th>
      </tr>
      <tr *ngFor="let item of tabsArray">
        <th>{{ item.radiobtn }}</th>
        <td>{{ item.fieldname }}</td>
        <td>{{ item.fieldtype }}</td>
        <td>{{ item.fieldvalue}}</td>
        <td>{{ item.mandatory }}</td>
      </tr>
    </table>
  </div>
  <div class="form-row align-items-end mb-3 pb-3 border-bottom">
    <div class="col-10">
      <h4 class="mb-0"></h4>
    </div>
    <div class="col-2 text-right">
      <button type="button" class="btn btn-outline-custom px-4 py-2" data-dismiss="modal">Save</button>
    </div>
  </div>

  <div class="form-row align-items-end mb-3 pb-3 border-bottom">
    <div class="col-10">
      <h4 class="mb-0">Separation Reason</h4>
    </div>
    <div class="col-2 text-right">
      <div class="btn-more ml-auto shadow btn-custom ml-2" data-toggle="modal" (click)="OnOpenSeparationReasonPopup(0,'Add')" data-target="#addSeparationReason"
           data-tooltip="tooltip" data-placement="top" title="Add Separation reason">
        <i class="icon icon-plus-symbol h3 mb-0"></i>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-12 table-responsive mb-3">
      <lib-ui-data-table [Configuration]="SeperationReasonConfig">
        <ng-template let-data>
          <tr>
            <td class="text-nowrap">
              <div class="btn-more d-inline-block shadow btn-blue" (click)="OnOpenSeparationReasonPopup(data.index,'Edit')" data-tooltip="tooltip"
                   data-placement="top" title="Edit Seperation Reason Details">
                <i class="icon icon-edit h3 mb-0"></i>
              </div>
            </td>
            <td class="text-nowrap">{{data.data.SeparationReason}}</td>
            <td class="text-nowrap">{{data.data.SeparationTypeName}}</td>
          </tr>
        </ng-template>
      </lib-ui-data-table>
    </div>
  </div>

  <div class="form-row align-items-end mb-3 pb-3 border-bottom">
    <div class="col-10">
      <h4 class="mb-0">Separation Tasks</h4>
    </div>
    <div class="col-2 text-right">
      <div class="btn-more ml-auto shadow btn-custom ml-2" data-toggle="modal" (click)="OnOpenSeparationTaskPopup(0,'Add')" data-target="#addSeparationTasks"
           data-tooltip="tooltip" data-placement="top" title="Add Separation Tasks">
        <i class="icon icon-plus-symbol h3 mb-0"></i>
      </div>

    </div>
  </div>
  <div class="form-row">
    <div class="col-12 table-responsive mb-3">
      <lib-ui-data-table [Configuration]="SeperationTasksConfig">
        <ng-template let-data>
          <tr>
            <td class="text-nowrap">
              <div class="btn-more d-inline-block shadow btn-blue" (click)="OnOpenSeparationTaskPopup(data.index, 'Edit')" data-tooltip="tooltip"
                   data-placement="top" title="Edit Seperation Task Details">
                <i class="icon icon-edit h3 mb-0"></i>
              </div>
            </td>
            <td class="text-nowrap">{{data.data.SeparationTask}}</td>
            <td class="text-nowrap">{{data.data.SeparationTypeName}}</td>
            <td class="text-nowrap">{{data.data.TaskOwnerName}}</td>
            <td class="text-nowrap">{{data.data.EscalateLevel}}</td>
            <td class="text-nowrap">{{data.data.InitiateTaskDays}}</td>
            <td class="text-nowrap">{{data.data.EscalatePostDay}}</td>
            <td class="text-nowrap">{{data.data.Location}}</td>
          </tr>
        </ng-template>
      </lib-ui-data-table>
    </div>
  </div>

  <div class="modal fade modal-from top animate__animated animate__slideInDown" id="addNoticePeriod"
       tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="margin-left: -35%;">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content border-0">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalCenterTitle">{{popupHeading}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="icon icon-wrong"></i>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-row form-fields">
            <div class="col-md-4 mb-2">
              <label class="h6 mb-1">
                Notice Period Name
              </label>
              <!--<input class="form-control"  type="text" value="" placeholder="Enter Probation Name">-->
              <lib-text-box [FormInput]="NoticePeriodDetailForm.get('NoticePeriodName')"
                            [Configuration]="{PlaceHolder:'Enter Name'}" (keypress)="keyPress($event)">
              </lib-text-box>
            </div>
            <div class="col-md-4 mb-3">
              <label class="h6 mb-1">
                During Probation
              </label>
              <div class="form-row align-items-center">
                <div class="col-8">
                  <!--<input class="form-control" type="text" value="" placeholder="Period">-->
                  <lib-text-box [FormInput]="NoticePeriodDetailForm.get('NoticePeriodDays')"
                                [Configuration]="{PlaceHolder:'Enter Day(s)'} "(keypress)="keyPressNumbers($event)">
                  </lib-text-box>
                </div>
                <div class="col-4">
                  <label class="h5 mb-0">Day(s)</label>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label class="h6 mb-1">
                After Confirmation
              </label>
              <div class="form-row align-items-center">
                <div class="col-8">
                  <!--<input class="form-control" type="text" value="" placeholder="Period">-->
                  <lib-text-box [FormInput]="NoticePeriodDetailForm.get('ConfirmationDays')"
                                [Configuration]="{PlaceHolder:'Enter Day(s)'}" (keypress)="keyPressNumbers($event)">
                  </lib-text-box>

                </div>
                <div class="col-4">
                  <label class="h5 mb-0">Day(s)</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row mt-4">
            <div class="col-12">
              <div class="form-row align-items-end mb-3 pb-3 border-bottom">
                <div class="col-11">
                  <h4 class="mb-0">Publish To</h4>
                </div>
                <div class="col-1 text-right">
                  <div class="btn-more ml-auto shadow btn-custom" data-toggle="collapse" href="#attributeFilter"
                       role="button" aria-expanded="false" aria-controls="attributeFilter" data-tooltip="tooltip" title="Attribute Filter">
                    <i class="icon icon-down h3 mb-0"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 collapse" id="attributeFilter">
              <div class="form-row form-fields">
                <div class="col-md-6 mb-3">
                  <lib-ui-accordion-multi-select [PlaceHolderText]="orgPlaceHolder"
                                                 [selectedValues]="selectedOrgEntityDepartment"
                                                 (onSelect)="onItemSelect1($event)"
                                                 [data]="orgEntityDepartment">
                  </lib-ui-accordion-multi-select>
                </div>

                <div class="col-md-6 mb-3">
                  <label class="h6 mb-1">Centre Type</label>
                  <lib-ui-multi-select id="centreTypeMultiSelect"
                                       [data]="centerType"
                                       (onSelect)="onItemSelect($event,'centre')"
                                       (onSelectAll)="onSelectAll($event,'centre')"
                                       [selectedValues]="centreTypeSelectedValues"
                                       [PlaceHolderText]="CentrePlaceHolderText"
                                       [isSingleSelection]="false">
                  </lib-ui-multi-select>
                </div>
                <div class="col-md-6 mb-3">
                  <label class="h6 mb-1">Region</label>
                  <lib-ui-multi-select id="regionMultiSelect"
                                       [data]="region"
                                       (onSelect)="onItemSelect($event,'region')"
                                       (onSelectAll)="onSelectAll($event,'region')"
                                       [selectedValues]="regionSelectedValues"
                                       [PlaceHolderText]="regionPlaceHolderText"
                                       [isSingleSelection]="false">
                  </lib-ui-multi-select>
                </div>
                <div class="col-md-6 mb-3">
                  <label class="h6 mb-1">Location</label>
                  <lib-ui-multi-select id="locationMultiSelect"
                                       [data]="location"
                                       (onSelect)="onItemSelect($event,'location')"
                                       (onSelectAll)="onSelectAll($event,'location')"
                                       [selectedValues]="regionSelectedValues"
                                       [PlaceHolderText]="locationPlaceHolderText"
                                       [isSingleSelection]="false">
                  </lib-ui-multi-select>
                </div>
                <div class="col-md-6 mb-3">
                  <label class="h6 mb-1">Employee Type</label>
                  <lib-ui-multi-select id="employeeTypeMultiSelect"
                                       [data]="employeeType"
                                       (onSelect)="onItemSelect($event,'employeeType')"
                                       (onSelectAll)="onSelectAll($event,'employeeType')"
                                       [selectedValues]="employeeTypeSelectedValues"
                                       [PlaceHolderText]="employeeTypePlaceHolderText"
                                       [isSingleSelection]="false">
                  </lib-ui-multi-select>
                </div>
                <div class="col-md-6 mb-3">
                  <label class="h6 mb-1">Position</label>
                  <lib-ui-multi-select id="positionMultiSelect"
                                       [data]="position"
                                       (onSelect)="onItemSelect($event,'position')"
                                       (onSelectAll)="onSelectAll($event,'position')"
                                       [selectedValues]="positionSelectedValues"
                                       [PlaceHolderText]="positionPlaceHolderText"
                                       [isSingleSelection]="false">
                  </lib-ui-multi-select>
                </div>
                <div class="col-md-6 mb-3">
                  <label class="h6 mb-1">Cost Centre</label>
                  <lib-ui-multi-select id="costCentreMultiSelect"
                                       [data]="costCentre"
                                       (onSelect)="onItemSelect($event,'costCentre')"
                                       (onSelectAll)="onSelectAll($event,'costCentre')"
                                       [selectedValues]="costCentreSelectedValues"
                                       [PlaceHolderText]="costCentrePlaceHolderText"
                                       [isSingleSelection]="false">
                  </lib-ui-multi-select>
                </div>
                <div class="col-md-6 mb-3">
                  <label class="h6 mb-1">Grade</label>
                  <lib-ui-multi-select id="gradeMultiSelect"
                                       [data]="grade"
                                       (onSelect)="onItemSelect($event,'grade')"
                                       (onSelectAll)="onSelectAll($event,'grade')"
                                       [selectedValues]="gradeSelectedValues"
                                       [PlaceHolderText]="gradePlaceHolderText"
                                       [isSingleSelection]="false">
                  </lib-ui-multi-select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="d-inline-block mr-5">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" name="gender" id="noticednu" class="custom-control-input"
                     value="male" checked="">
              <label class="custom-control-label h5 pl-2" for="noticednu">Do Not Use</label>
            </div>
          </div>
          <button type="button" class="btn btn-outline-custom px-4 py-2" data-dismiss="modal">Cancel</button>
          <button type="button" (click)="OnNoticePeriodDetailsOp();" class="btn btn-custom px-4 py-2">
            {{isAddMode? 'Add' : 'Edit'}}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade modal-from top animate__animated animate__slideInDown" id="addSeparationReason"
       tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content border-0">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalCenterTitle">{{popupHeading}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="icon icon-wrong"></i>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-row form-fields">
            <div class="col-md-6 mb-3">
              <label class="h6 mb-1">
                Separation Reason
              </label>
              <!--<input class="form-control" type="text" value="" placeholder="Enter Separation Reason">-->
              <lib-text-box [FormInput]="SeperationReasonForm.get('SeparationReason')"
                            [Configuration]="{PlaceHolder:'Enter Separation Reason'}">
              </lib-text-box>
            </div>
            <div class="col-md-6 mb-3">
              <label class="h6 mb-1">
                Separation Type
              </label>
              <select class="form-control">
                <option>Resignation</option>
                <option>Absconding</option>
                <option>Termination</option>
                <option>Retirement</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="d-inline-block mr-5">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" name="gender" id="srdnu" class="custom-control-input"
                     value="male" checked="">
              <label class="custom-control-label h5 pl-2" for="srdnu">Do Not Use</label>
            </div>
          </div>
          <button type="button" class="btn btn-outline-custom px-4 py-2" data-dismiss="modal">Cancel</button>
          <button type="button" (click)="OnSeparationReasonOp();" class="btn btn-custom px-4 py-2">
            {{isAddMode? 'Add' : 'Edit'}}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade modal-from top animate__animated animate__slideInDown" id="addSeparationTasks"
       tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content border-0">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalCenterTitle">{{popupHeading}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="icon icon-wrong"></i>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-row form-fields">
            <div class="col-md-6 mb-3">
              <label class="h6 mb-1">
                Separation Tasks
              </label>
              <!--<input class="form-control" type="text" value="" placeholder="Enter Separation Tasks">-->
              <lib-text-box [FormInput]="SeperationTaskForm.get('SeparationTask')"
                            [Configuration]="{PlaceHolder:'Enter Separation Tasks'}">
              </lib-text-box>
            </div>
            <div class="col-md-6 mb-3">
              <label class="h6 mb-1"> Separation From </label>
              <select class="form-control">
                <option *ngFor="let item of SeparationFromList">{{item.SeparationTypeName}}</option>
              </select>
            </div>
            <div class="col-md-6 mb-3">
              <label class="h6 mb-1">
                Task Owner
              </label>
              <select class="form-control">
                <option *ngFor="let item of TaskOwnerList">{{item.TaskOwnerName}}</option>
              </select>
            </div>
            <div class="col-md-6 mb-3">
              <label class="h6 mb-1">
                Escalate to
              </label>
              <select class="form-control">
                <option *ngFor="let item of EscalateLevelList">{{item.EscalateLevel}}</option>
              </select>
            </div>
            <div class="col-md-12 mb-3">
              <div class="form-row align-items-center pt-3">
                <div class="col-sm-3">
                  <label class="h6 mb-1">Initiate Task</label>
                </div>
                <div class="col-sm-2">
                  <!--<input class="form-control" type="text" value="" placeholder="">-->
                  <lib-text-box [FormInput]="SeperationTaskForm.get('InitiateTaskDays')"
                                [Configuration]="{PlaceHolder:'Enter Initiate Task Days'}">
                  </lib-text-box>
                </div>
                <div class="col-sm-1">
                  <label class="h6 mb-1 text-muted">Days</label>
                </div>
                <div class="col-sm-3">
                  <select class="form-control">
                    <option *ngFor="let item of DayTypeNameList">{{item.DayTypeName}}</option>
                  </select>
                </div>
                <div class="col-sm-3">
                  <select class="form-control">
                    <option *ngFor="let item of InterviewTypeNameList">{{item.InterviewTypeName}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <div class="form-row align-items-center pt-3">
                <div class="col-sm-3">
                  <label class="h6 mb-1">Escalate post (in days)</label>
                </div>
                <div class="col-sm-2">
                  <!--<input class="form-control" type="text" value="" placeholder="">-->
                  <lib-text-box [FormInput]="SeperationTaskForm.get('EscalatePostDay')"
                                [Configuration]="{PlaceHolder:'Enter Escalate PostDay'}">
                  </lib-text-box>
                </div>
                <div class="col-sm-1">
                  <label class="h6 mb-1 text-muted">Days</label>
                </div>
                <div class="col-sm-3">
                  <select class="form-control">
                    <option>Before</option>
                    <option>on</option>
                    <option>After</option>
                  </select>
                </div>
                <div class="col-sm-3">
                  <select class="form-control">
                    <option>Resignation date</option>
                    <option>Resignation approval date</option>
                    <option>Relieving date</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row mt-4">
            <div class="col-12">
              <div class="form-row align-items-end mb-3 pb-3 border-bottom">
                <div class="col-11">
                  <h4 class="mb-0">Applicable To</h4>
                </div>
                <div class="col-1 text-right">
                  <div class="btn-more ml-auto shadow btn-custom" data-toggle="collapse" href="#applicableTo"
                       role="button" aria-expanded="false" aria-controls="applicableTo" data-tooltip="tooltip" title="" data-original-title="Attribute Filter">
                    <i class="icon icon-down h3 mb-0"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row form-fields collapse" id="applicableTo">
            <div class="col-md-6 mb-3">
              <label class="h6 mb-1">Employee Group</label>
              <lib-ui-multi-select id="employeegroupMultiSelect"
                                   [data]="employeegroup"
                                   (onSelect)="onItemSelect($event,'employeegroup')"
                                   (onSelectAll)="onSelectAll($event,'employeegroup')"
                                   [PlaceHolderText]="employeegroupPlaceHolderText"
                                   [isSingleSelection]="false">
              </lib-ui-multi-select>
            </div>
            <div class="col-md-6 mb-3">
              <label class="h6 mb-1">Entity</label>
              <lib-ui-multi-select id="entityMultiSelect"
                                   [data]="entity"
                                   (onSelect)="onItemSelect($event,'entity')"
                                   (onSelectAll)="onSelectAll($event,'entity')"
                                   [PlaceHolderText]="entityPlaceHolderText"
                                   [isSingleSelection]="false">
              </lib-ui-multi-select>
            </div>
            <div class="col-md-6 mb-3">
              <label class="h6 mb-1">Org Unit</label>
              <lib-ui-multi-select id="orgunitMultiSelect"
                                   [data]="orgunit"
                                   (onSelect)="onItemSelect($event,'orgunit')"
                                   (onSelectAll)="onSelectAll($event,'orgunit')"
                                   [PlaceHolderText]="orgunitPlaceHolderText"
                                   [isSingleSelection]="false">
              </lib-ui-multi-select>
            </div>
            <div class="col-md-6 mb-3">
              <label class="h6 mb-1">Department</label>
              <lib-ui-multi-select id="departmentMultiSelect"
                                   [data]="department"
                                   (onSelect)="onItemSelect($event,'department')"
                                   (onSelectAll)="onSelectAll($event,'department')"
                                   [PlaceHolderText]="departmentPlaceHolderText"
                                   [isSingleSelection]="false">
              </lib-ui-multi-select>
            </div>
            <div class="col-md-6 mb-3">
              <label class="h6 mb-1">Designation</label>
              <lib-ui-multi-select id="designationMultiSelect"
                                   [data]="designation"
                                   (onSelect)="onItemSelect($event,'designation')"
                                   (onSelectAll)="onSelectAll($event,'designation')"
                                   [PlaceHolderText]="designationPlaceHolderText"
                                   [isSingleSelection]="false">
              </lib-ui-multi-select>
            </div>
            <div class="col-md-6 mb-3">
              <label class="h6 mb-1">Location</label>
              <lib-ui-multi-select id="locationMultiSelect"
                                   [data]="location"
                                   (onSelect)="onItemSelect($event,'location')"
                                   (onSelectAll)="onSelectAll($event,'location')"
                                   [PlaceHolderText]="locationPlaceHolderText"
                                   [isSingleSelection]="false">
              </lib-ui-multi-select>
            </div>
            <div class="col-md-6 mb-3">
              <label class="h6 mb-1">Employee Type</label>
              <lib-ui-multi-select id="employeeTypeMultiSelect"
                                   [data]="employeeType"
                                   (onSelect)="onItemSelect($event,'employeeType')"
                                   (onSelectAll)="onSelectAll($event,'employeeType')"
                                   [PlaceHolderText]="employeeTypePlaceHolderText"
                                   [isSingleSelection]="false">
              </lib-ui-multi-select>
            </div>
            <div class="col-md-6 mb-3">
              <label class="h6 mb-1">Grade</label>
              <lib-ui-multi-select id="gradeMultiSelect"
                                   [data]="grade"
                                   (onSelect)="onItemSelect($event,'grade')"
                                   (onSelectAll)="onSelectAll($event,'grade')"
                                   [PlaceHolderText]="gradePlaceHolderText"
                                   [isSingleSelection]="false">
              </lib-ui-multi-select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="d-inline-block mr-5">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" name="gender" id="srdnu" class="custom-control-input"
                     value="male" checked="">
              <label class="custom-control-label h5 pl-2" for="srdnu">Do Not Use</label>
            </div>
          </div>
          <button type="button" class="btn btn-outline-custom px-4 py-2" data-dismiss="modal">Cancel</button>
          <button type="button" (click)="OnSeparationTaskOp();" class="btn btn-custom px-4 py-2">
            {{isAddMode? 'Add' : 'Edit'}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
