<div class="tab-pane fade show active" id="functionalRole" role="tabpanel" aria-labelledby="functionalRole-tab">
    <div class="form-row align-items-end mb-3 pb-3 border-bottom">
        <div class="col-11">
            <h4 class="mb-0">Functional Role Details</h4>
        </div>
        <div class="col-1 text-right">
            <div class="btn-more ml-auto shadow btn-custom" data-toggle="modal" (click)="OpenFunctionalRolePopup(true, null)"
                data-tooltip="tooltip" data-placement="top" title="Add Functional Role">
                <i class="icon icon-plus-symbol h3 mb-0"></i>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 table-responsive mb-3">
            <lib-ui-data-table [Configuration]="FunctionalRoleConfig">
                <ng-template let-data>
                    <tr>
                        <td class="text-nowrap">
                            <div class="btn-more d-inline-block shadow btn-blue" data-tooltip="tooltip" 
                            (click)="OpenFunctionalRolePopup(false, data.data)" data-placement="top" title="Edit Functional Role">
                                <i class="icon icon-edit h3 mb-0"></i>
                            </div>
                        </td>
                        <td class="text-nowrap">{{data.data.FRoleName}}</td>
                        <td class="text-nowrap">{{data.data.FRoleCode}}</td>
                        <td>{{data.data.FRoleDesc}}</td>
                        <td class="text-right">
                            <a class="text-info" *ngIf="data.data.AttachmentFile && data.data.AttachmentFile != ''" download="JD-file" [href]="DownloadPath+data.data.AttachmentFile">View JD</a>
                            <a class="text-info" *ngIf="!data.data.AttachmentFile || data.data.AttachmentFile == ''" >View JD</a>
                        </td>
                    </tr>
                </ng-template>
            </lib-ui-data-table>
        </div>
    </div>
    <div class="modal fade modal-from top animate__animated animate__slideInDown" id="addFunctionalRole" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content border-0">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalCenterTitle">{{ isAddMode ? 'Add Functional Role' : 'Edit Functional Role'}}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="icon icon-wrong"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row form-fields">
                        <div class="col-md-6 mb-3">
                            <label class="h6 mb-1">
                                Functional Role Name
                            </label>
                            <lib-text-box [FormInput]="FunctionalRoleForm.get('FRoleName')"
                                [ValidationMessages]="validationMassages.FunctionalRoleForm.FRoleName"
                                [Configuration]="{PlaceHolder:'Enter Functional Role Name'}">
                                <ng-template let-validation>
                                    <div class="error-message">{{validation}}</div>
                                </ng-template>
                            </lib-text-box>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="h6 mb-1">
                                Functional Role Code
                            </label>
                            <lib-text-box [FormInput]="FunctionalRoleForm.get('FRoleCode')"
                                [ValidationMessages]="validationMassages.FunctionalRoleForm.FRoleCode"
                                [Configuration]="{PlaceHolder:'Enter Functional Role Code'}">
                                <ng-template let-validation>
                                    <div class="error-message">{{validation}}</div>
                                </ng-template>
                            </lib-text-box>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label class="h6 mb-1">
                                Job Description
                            </label>
                            <lib-text-area [FormInput]="FunctionalRoleForm.get('FRoleDesc')"
                                [Configuration]="{Rows:3 }">
                            </lib-text-area>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="h6 mb-1">
                                {{editData?.AttachmentFile && editData?.AttachmentFile != '' ? 'Change File' : 'Add File'}}
                            </label>
                            <div class="form-row align-items-center">
                                <div class="col-4">
                                    <div class="custom-file custom-file-btn btn btn-custom">
                                        <input type="file" (change)="SelectImage($event)" class="custom-file-input" [formControl]="FileUploadControl">
                                        <span class="mb-0" for="customFile">Upload</span>
                                    </div>
                                </div>
                                <div class="error-message">{{fileValidation}}</div>
                                <div class="col-8">
                                    <div class="h5 d-block file-name text-break mb-2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="d-inline-block mr-5">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="gender" id="frdnu" class="custom-control-input" 
                            [formControl]="FunctionalRoleForm.get('IsDoNotUse')">
                            <label class="custom-control-label h5 pl-2" for="frdnu">Do Not Use</label>
                        </div>
                    </div>
                    <button type="button" class="btn btn-outline-custom px-4 py-2" data-dismiss="modal">Cancel</button>
                    <button type="button" (click)="FunctionalRoleOp()" class="btn btn-custom px-4 py-2">{{isAddMode ? 'Add' : 'Edit'}}</button>
                </div>
            </div>
        </div>
    </div>
</div>