<div class="tab-pane fade show active" id="engaSurvey" role="tabpanel" aria-labelledby="engaSurvey-tab">
  <div class="form-row align-items-end mb-3 pb-3 border-bottom">
    <div class="col-12 pt-2">
      <h4 class="mb-0">Allow Users to</h4>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-3 mb-3">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" id="auc1" class="custom-control-input" checked="">
        <label class="custom-control-label h5 pl-2" for="auc1">Create Surveys</label>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" id="auc2" class="custom-control-input">
        <label class="custom-control-label h5 pl-2" for="auc2">Post Surveys</label>
      </div>
    </div>
  </div>
  <div class="form-row align-items-end mt-3 pt-3 border-top">
    <div class="col-12 text-right">
      <button class="btn btn-outline-custom py-2 px-4 mr-2">Cancel</button>
      <button class="btn btn-custom py-2 px-4">Save</button>
    </div>
  </div>
</div>
