<lib-ui-dropdown-template 
[Configuration]="{Placeholder:'Select Item'}">
    <!-- <ng-template>
    </ng-template> -->
            <div class="comboTreeWrapper">
                <div class="comboTreeDropDownContainer p-2 show" style="max-height: 200px;">
                    <!-- <input id="comboTree410628MultiFilter" type="text" class="form-control mb-2" placeholder="Type to filter"> -->
                    <ul>
                        <ng-container #root>
    
                        </ng-container>
                    </ul>
                </div>
            </div>
</lib-ui-dropdown-template>