<div class="modal-header">
  <h4 class="modal-title" id="exampleModalCenterTitle"> {{Heading}} </h4>
  <button type="button" class="close" (click)="clear()" aria-label="Close">
    <i class="icon icon-wrong"></i>
  </button>
</div>
<div class="modal-body">
  <div class="form-row form-fields bottom-space">
    <div class="col-md-12 mb-12">
      <label class="h6 mb-1">
        Form Name
      </label>
      <lib-text-box [FormInput]="applicationForm.get('Form')"
        [ValidationMessages]="validationMassages.applicationForm.Form"
        [Configuration]="{PlaceHolder:'Enter Form Name'}">
        <ng-template let-validation>
          <div class="error-message">{{validation}}</div>
        </ng-template>
      </lib-text-box>
    </div>
  </div>
  <div class="form-row form-fields bottom-space">
    <div class="col-md-12 mb-12">
      <label class="h6 mb-1">
        Form Description
      </label>
      <lib-text-area [FormInput]="applicationForm.get('Descripction')"
        [Configuration]="{PlaceHolder:'Enter Form Description'}">
      </lib-text-area>
    </div>
  </div>
  <form-builder [form]="form" (change)="onChange($event)"></form-builder>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-custom px-4 py-2" (click)="clear()">Cancel</button>
  <button type="button" class="btn btn-custom px-4 py-2" (click)="SaveData()">Save</button>
</div>