<div class="tab-pane fade show active" id="companyAutonumbering" role="tabpanel"
    aria-labelledby="companyAutonumbering-tab">
    <div class="form-row align-items-end mb-3 pb-3 border-bottom">
        <div class="col-11">
            <h4 class="mb-0">Department</h4>
        </div>
        <div class="col-1 text-right">
            <div class="btn-more ml-auto shadow btn-custom edit-field" (click)="autoNoVM.isEditable ? EditClick() : ''" data-tooltip="tooltip" data-placement="top"
                title="Edit Department">
                <i class="icon icon-edit h3 mb-0"></i>
            </div>
        </div>
    </div>
    <div class="form-row form-fields">
        <div class="col-md-3 mb-3">
            <label class="h6 mb-1">
                Prefix
            </label>
            <lib-text-box [FormInput]="AutoNoFormDept.get('Prefix')"
                [ValidationMessages]="validationMassages.AutoNoFormDept.Prefix"
                [Configuration]="{PlaceHolder:'Enter Prefix'}">
                <ng-template let-validation>
                    <div class="error-message">{{validation}}</div>
                </ng-template>
            </lib-text-box>
        </div>
        <div class="col-md-3 mb-3">
            <label class="h6 mb-1">
                Append Number
            </label>
            <lib-text-box [FormInput]="AutoNoFormDept.get('AppendNumber')"
                [ValidationMessages]="validationMassages.AutoNoFormDept.AppendNumber"
                [Configuration]="{PlaceHolder:'Enter Append Number'}">
                <ng-template let-validation>
                    <div class="error-message">{{validation}}</div>
                </ng-template>
            </lib-text-box>
        </div>
    </div>
    <div class="form-row align-items-end mt-3 pt-3 border-top">
        <div class="col-12 text-right">
            <button class="btn btn-outline-custom py-2 px-4 mr-2">Cancel</button>
            <button [disabled]="!autoNoVM.isSaveActivated" (click)="autoNoVM.isSaveActivated ? AddUpdateAutoNo() : ''" class="btn btn-custom py-2 px-4">Save</button>
        </div>
    </div>
</div>