<div class="tab-pane fade show active" id="exitInterview" role="tabpanel" aria-labelledby="exitInterview-tab">
  <div class="form-row align-items-end mb-3 pb-3 border-bottom">
    <div class="col-11">
      <h4 class="mb-0">Exit Interview</h4>
    </div>
    <div class="col-1 text-right">
      <div class="btn-more ml-auto shadow btn-custom" (click)="OnOpenPopup(0,'Add')" 
           data-tooltip="tooltip" data-placement="top" title="Add Policy">
        <i class="icon icon-plus-symbol h3 mb-0"></i>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-12 table-responsive mb-3">
      <lib-ui-data-table [Configuration]="ExtinterviewConfig">
        <ng-template let-data>
          <tr>
            <div class="btn-more d-inline-block shadow btn-blue" (click)="OnOpenPopup(data.index,'Edit')"
                 data-tooltip="tooltip" data-placement="top" title="Edit Probation Details">
              <i class="icon icon-edit h3 mb-0"></i>
            </div>
            <td class="text-nowrap">{{data.data.PolicyName}}</td>
            <td class="text-nowrap">{{data.data.Form}}</td>
            <td class="text-nowrap">{{data.data.WorkGroup}}</td>
          </tr>
        </ng-template>
      </lib-ui-data-table>
    </div>
  </div>

  <div class="modal fade modal-from top animate__animated animate__slideInDown" id="addPolicy" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
      <div class="modal-content border-0">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalCenterTitle">{{popupHeading}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="icon icon-wrong"></i>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <label class="h6 mb-1">Policy Name</label>
              <lib-text-box [FormInput]="ExitInterviewForm.get('PolicyName')"
                            (keypress)="keyPress($event)"  
                            [maxLength]="50"                          
                            [Configuration]="{PlaceHolder:'enter policy name'}">
              </lib-text-box>
            </div>
            <div class="col-md-4 mb-3">
              <label class="h6 mb-1">Separation Type</label>
              <select class="form-control" [formControl]="ExitInterviewForm.get('SeparationTypeId')">
                <option *ngFor="let item of separationtypename" value="{{item.Value}}">
                  {{item.Text}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-row align-items-center my-3">
            <div class="col-md-5 pt-2">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" id="setting1" class="custom-control-input" [formControl]="ExitInterviewForm.get('IsSendMail')">
                <label class="custom-control-label h5 pl-2" for="setting1">Send Exit Interview to Personal Email</label>
              </div>
            </div>
            <div class="col-md-5 pt-2">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" id="setting2" class="custom-control-input" [formControl]="ExitInterviewForm.get('IsExitInterviewMandatory')">
                <label class="custom-control-label h5 pl-2" for="setting2">Make Exit Interview mandatory</label>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <div class="form-row align-items-center pt-3">
                <div class="col-sm-2">
                  <label class="h6 mb-1">Initiate Exit interview</label>
                </div>
                <div class="col-sm-1">
                  <input class="form-control" type="number" min="0" value="" placeholder="" [formControl]="ExitInterviewForm.get('ExitInterviewDay')">
                </div>
                <div class="col-sm-1">
                  <label class="h6 mb-1 text-muted">Days</label>
                </div>
                <div class="col-sm-3">
                  <select class="form-control" (change)='onOptionsSelected($event)' [formControl]="ExitInterviewForm.get('ExitInterviewDayTypeId')">
                    <option *ngFor="let item of daytype" value="{{item.Value}}">
                      {{item.Text}}
                    </option>
                  </select>
                </div>
                <div class="col-sm-3">
                  <select class="form-control" id="initiateInterview2" [formControl]="ExitInterviewForm.get('ExitInterviewTypeId')">
                    <option *ngFor="let item of dropDown1" value="{{item.Value}}">
                      {{item.Text}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-12 mb-3">
              <label class="h6 mb-1">Select Form</label>
              <div class="form-row">
                <div class="col-md-4">
                  <select class="form-control" [formControl]="ExitInterviewForm.get('FormId')">
                    <option *ngFor="let item of assessmentForm" value="{{item.Value}}">
                      {{item.Text}}
                    </option>
                  </select>
                </div>
                <div class="col-md-1" data-toggle="modal" data-target="#formDemo">
                  <i class="icon icon-visibility h4 mb-0 cursor-pointer"></i>
                </div>
              </div>
            </div> -->
            <div class="col-md-12 mb-3">
              <label class="h6 mb-1">Select Form</label>
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <select class="form-control" onfocus='this.size=10;' onblur='this.size=1;' (change)="openForm($event.target.value)"
                  onchange='this.size=1; this.blur();'>
                    <option selected>Select...</option>
                    <option [value]="i" *ngFor="let form of formList; index as i">
                      {{ form.Form }}
                    </option>
                  </select>
                </div>
               <div class="col-md-1" (click)="openFormView()">
                  <i class="icon icon-visibility h4 mb-0 cursor-pointer"></i>
                </div>
              </div>
            </div>
          </div>


          <div class="form-row align-items-end mb-3 pb-3 pt-5 border-bottom">
            <div class="col-12">
              <h4 class="mb-0">Applicable to</h4>
            </div>
          </div>
          <div class="form-row form-fields">
            <div class="col-md-4 mb-3">
              <lib-ui-accordion-multi-select [PlaceHolderText]="orgPlaceHolder"
                                             [selectedValues]="selectedOrgEntityDepartment"
                                             (onSelect)="onItemSelect1($event)"
                                             [data]="orgEntityDepartment">
              </lib-ui-accordion-multi-select>
            </div>
            <div class="col-md-4 mb-3">
              <label class="h6 mb-1">Employee Group</label>
              <lib-ui-multi-select id="employeegroupMultiSelect"
                                   [data]="employeegroup"
                                   [selectedValues]="employeegroupSelectedValues"
                                   (onSelect)="onItemSelect($event,'employeegroup')"
                                   (onSelectAll)="onSelectAll($event,'employeegroup')"
                                   [PlaceHolderText]="employeegroupPlaceHolderText">
              </lib-ui-multi-select>
            </div>
            <div class="col-md-4 mb-3">
              <label class="h6 mb-1">Designation</label>
              <lib-ui-multi-select id="designationMultiSelect"
                                   [data]="designation"
                                   (onSelect)="onItemSelect($event,'designation')"
                                   (onSelectAll)="onSelectAll($event,'designation')"
                                    [selectedValues]="designationSelectedValues" 
                                   [PlaceHolderText]="designationPlaceHolderText">
              </lib-ui-multi-select>
            </div>
            <div class="col-md-4 mb-3">
              <label class="h6 mb-1">Location</label>
              <lib-ui-multi-select id="locationMultiSelect"
                                   [data]="location"
                                   (onSelect)="onItemSelect($event,'location')"
                                   (onSelectAll)="onSelectAll($event,'location')"
                                    [selectedValues]="locationSelectedValues" 
                                   [PlaceHolderText]="locationPlaceHolderText">
              </lib-ui-multi-select>
            </div>
            <div class="col-md-4 mb-3">
              <label class="h6 mb-1">Employee Type</label>
              <lib-ui-multi-select id="employeetypeMultiSelect"
                                   [data]="employeetype"
                                   (onSelect)="onItemSelect($event,'employeetype')"
                                   (onSelectAll)="onSelectAll($event,'employeetype')"
                                    [selectedValues]="employeeTypeSelectedValues" 
                                   [PlaceHolderText]="employeeTypePlaceHolderText">
              </lib-ui-multi-select>
            </div>
            <div class="col-md-4 mb-3">
              <label class="h6 mb-1">Grade</label>
              <lib-ui-multi-select id="gradeMultiSelect"
                                   [data]="grade"
                                   (onSelect)="onItemSelect($event,'grade')"
                                   (onSelectAll)="onSelectAll($event,'grade')"
                                    [selectedValues]="gradeSelectedValues" 
                                   [PlaceHolderText]="gradePlaceHolderText">
              </lib-ui-multi-select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="d-inline-block mr-5">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" name="gender" id="eidnu" class="custom-control-input"
                     value="male" checked="">
              <label class="custom-control-label h5 pl-2" for="eidnu">Do Not Use</label>
            </div>
          </div>
          <button type="button" class="btn btn-outline-custom px-4 py-2" data-dismiss="modal">Cancel</button>
          <button type="button" (click)="OnExitInterviewDetailsOp();" class="btn btn-custom px-4 py-2">
            {{isAddMode? 'Add' : 'Edit'}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade modal-from top animate__animated animate__slideInDown" id="formView" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable view-dialog" role="document">
    <div class="modal-content border-0">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalCenterTitle">{{formId ? formList[formId].Form : ''}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="icon icon-wrong"></i>
        </button>
      </div>
      <div class="modal-body">
        <formio [form]="form"></formio>
        <!-- <h4>{{[form]}}</h4> -->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-custom px-4 py-2" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>