<div class="tab-pane fade show active" id="assignRole" role="tabpanel" aria-labelledby="assignRole-tab">
    <div class="form-row align-items-end mb-3 pb-3 border-bottom">
        <div class="col-11">
            <h4 class="mb-0">Assign Role</h4>
        </div>
        <div class="col-1 text-right">
            <div class="btn-more ml-auto shadow btn-custom" data-toggle="modal" data-target="#addAssignRole"
                data-tooltip="tooltip" data-placement="top" title="Assign Role">
                <i class="icon icon-plus-symbol h3 mb-0"></i>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 table-responsive mb-3">
            <table class="table table-striped mb-0">
                <thead>
                    <tr>
                        <th></th>
                        <th class="text-nowrap">Role</th>
                        <th class="">Employee Name</th>
                        <th class="">Access Level</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-nowrap">
                            <div class="btn-more d-inline-block shadow btn-blue" data-tooltip="tooltip" 
                                data-placement="top" title="" data-original-title="Edit Assign Role">
                                <i class="icon icon-edit h3 mb-0"></i>
                            </div>
                        </td>
                        <td class="text-nowrap">Roles - 1</td>
                        <td>Devid Warner, Mark Smith, Kevin Martin</td>
                        <td>Entity - 2, Entity - 3, Delhi, Surat, Marketing, Sales</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap">
                            <div class="btn-more d-inline-block shadow btn-blue" data-tooltip="tooltip" 
                                data-placement="top" title="" data-original-title="Edit Assign Role">
                                <i class="icon icon-edit h3 mb-0"></i>
                            </div>
                        </td>
                        <td class="text-nowrap">Roles - 2</td>
                        <td>Devid Warner, Mark Smith, Kevin Martin</td>
                        <td>Entity - 2, Entity - 3, Delhi, Surat, Marketing, Sales</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap">
                            <div class="btn-more d-inline-block shadow btn-blue" data-tooltip="tooltip" 
                                data-placement="top" title="" data-original-title="Edit Assign Role">
                                <i class="icon icon-edit h3 mb-0"></i>
                            </div>
                        </td>
                        <td class="text-nowrap">Roles - 3</td>
                        <td>Devid Warner, Mark Smith, Kevin Martin</td>
                        <td>Entity - 2, Entity - 3, Delhi, Surat, Marketing, Sales</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <nav class="col-12" aria-label="Page navigation example">
            <div class="d-flex justify-content-between align-items-center">
                <span class="h5 mb-0">Showing 1 to 3 of 3 entries</span>
                <ul class="pagination mb-0">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">Previous</span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">Next</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="modal fade modal-from top animate__animated animate__slideInDown" id="addAssignRole" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content border-0">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalCenterTitle">Assign Roles</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="icon icon-wrong"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row form-fields">
                        <div class="col-md-6 mb-3">
                            <label class="h6 mb-1">
                                Role Name
                            </label>
                            <select class="formc-control multiple-select">
                                <option value="AL" selected>Role - 1</option>
                                <option value="WY">Role - 2</option>
                                <option value="1">Role - 3</option>
                                <option value="2">Role - 4</option>
                                <option value="3">Role - 5</option>
                                <option value="4">Role - 6</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="h6 mb-1">
                                Employee Search
                            </label>
                            <select class="formc-control multiple-select"  multiple="multiple">
                                <option value="AL" selected>Devid Warner</option>
                                <option value="WY">Mark Smith</option>
                                <option value="1">Kevin Martin</option>
                                <option value="2">Jhon cena</option>
                                <option value="3">Drew Cooper</option>
                                <option value="4">Devid Martin</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-row align-items-end mt-5 mb-3 pb-3 border-bottom">
                        <div class="col-11">
                            <h4 class="mb-0">Access Level</h4>
                        </div>
                        <div class="col-1 text-right">
                            <div class="btn-more ml-auto shadow btn-custom" data-toggle="collapse" href="#accessLevelFilter" role="button" aria-expanded="false" aria-controls="attributeFilter" data-tooltip="tooltip" title="" data-original-title="Attribute Filter">
                                <i class="icon icon-down h3 mb-0"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-row form-fields collapse show" id="accessLevelFilter">    
                        <!-- <div class="col-md-6 mb-3">
                            <label class="h6 mb-1">Entity</label>
                            <select class="form-control multiple-select" multiple="multiple">
                                <option value="mg">Entity - 1</option>
                                <option value="smg">Entity - 2</option>
                                <option value="sdv">Entity - 3</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="h6 mb-1">Org Unit</label>
                            <select class="form-control multiple-select" multiple="multiple">
                                <option value="u1">Unit - 1</option>
                                <option value="u2">Unit - 2</option>
                                <option value="u3">Unit - 3</option>
                                <option value="u4">Unit - 4</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="h6 mb-1">Department</label>
                            <select class="form-control multiple-select" multiple="multiple">
                                <option value="marketing">Marketing</option>
                                <option value="sales">Sales</option>
                                <option value="dev">Development</option>
                                <option value="hr">HR</option>
                            </select>
                        </div> -->
                        <div class="col-md-6 mb-3">
                            <label class="h6 mb-1">Entity/Org Unit/Department</label>
                            <div class="tree-dropdown-main tree-multiselect">
                                <div data-toggle="collapse" href="#link">
                                    <input class="form-control" type="text" value="Entity - 1"> 
                                    <div class="tree-dropdown-arrow"><i class="icon icon-down mr-2"></i></div>
                                </div>
                                <ul class="tree-dropdown collapse" id="link">
                                    <li>
                                        <span data-toggle="collapse" href="#link1"><i class="icon icon-down mr-2"></i>Entity Group</span>
                                        <ul class="collapse" id="link1">
                                            <li>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="rval1">
                                                    <label class="custom-control-label" for="rval1">Entity - 1</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="rval2">
                                                    <label class="custom-control-label" for="rval2">Entity - 2</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="rval3">
                                                    <label class="custom-control-label" for="rval3">Entity - 1</label>
                                                </div>
                                            </li>
                                        </ul> 
                                    </li>
                                    <li>
                                        <span data-toggle="collapse" href="#link2"><i class="icon icon-down mr-2"></i>Org Unit</span>
                                        <ul class="collapse" id="link2">
                                            <li>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="rval4">
                                                    <label class="custom-control-label" for="rval4">Unit - 1</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="rval5">
                                                    <label class="custom-control-label" for="rval5">Unit - 1</label>
                                                </div>
                                            </li>
                                        </ul> 
                                    </li>
                                    <li>
                                        <span data-toggle="collapse" href="#link3"><i class="icon icon-down mr-2"></i>Department</span>
                                        <ul class="collapse" id="link3">
                                            <li>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="rval6">
                                                    <label class="custom-control-label" for="rval6">Marketing</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="rval7">
                                                    <label class="custom-control-label" for="rval7">Sales</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="rval8">
                                                    <label class="custom-control-label" for="rval8">HR</label>
                                                </div>
                                            </li>
                                        </ul> 
                                    </li>
                                </ul>    
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="h6 mb-1">Centre Type</label>
                            <select class="form-control multiple-select" multiple="multiple">
                                <option value="marketing">Centre Type - 1</option>
                                <option value="sales">Centre Type - 2</option>
                                <option value="dev">Centre Type - 3</option>
                                <option value="hr">HCentre Type - 4</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="h6 mb-1">Region</label>
                            <select class="form-control multiple-select" multiple="multiple">
                                <option value="1">Recruitment</option>
                                <option value="2">Core</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="h6 mb-1">Location</label>
                            <select class="form-control multiple-select" multiple="multiple">
                                <option value="mumbai">Mumbai</option>
                                <option value="ban">Bangalore</option>
                                <option value="delhi">Delhi</option>
                                <option value="surat">Surat</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="h6 mb-1">Employee Type</label>
                            <select class="form-control multiple-select" multiple="multiple">
                                <option value="t1">Type - 1</option>
                                <option value="t2">Type - 2</option>
                                <option value="t3">Type - 3</option>
                                <option value="t4">Type - 4</option>
                            </select>
                        </div>
                        <!-- <div class="col-md-6 mb-3">
                            <label class="h6 mb-1">Position</label>
                            <select class="form-control multiple-select" multiple="multiple">
                                <option value="1">Recruitment</option>
                                <option value="2">Core</option>
                            </select>
                        </div> -->
                        <div class="col-md-6 mb-3">
                            <label class="h6 mb-1">Cost Centre</label>
                            <select class="form-control multiple-select" multiple="multiple">
                                <option value="1">Recruitment</option>
                                <option value="2">Core</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="h6 mb-1">Grade</label>
                            <select class="form-control multiple-select" multiple="multiple">
                                <option value="g1">Grade - 1</option>
                                <option value="g2">Grade - 2</option>
                                <option value="g3">Grade - 3</option>
                                <option value="g4">Grade - 4</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="d-inline-block mr-5">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="gender" id="rolesdnu" class="custom-control-input" 
                                value="male" checked="">
                            <label class="custom-control-label h5 pl-2" for="rolesdnu">Do Not Use</label>
                        </div>
                    </div>
                    <button type="button" class="btn btn-outline-custom px-4 py-2" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-custom px-4 py-2">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>