<div class="tab-pane fade show active" role="tabpanel">
    <div class="form-row align-items-end mb-3 pb-3 border-bottom">
        <div class="col-11">
            <h4 class="mb-0">Company Details</h4>
        </div>
        <div class="col-1 text-right">
            <div (click)="groupCompanyVM.isEditable ? EditData() : ''" class="btn-more ml-auto shadow btn-custom" data-tooltip="tooltip" data-placement="top"
                title="Edit Details">
                <i class="icon icon-edit h3 mb-0"></i>
            </div>
        </div>
    </div>
    <div class="form-row form-fields">
        <div class="col-md-3 mb-3">
            <label class="h6 mb-1">
                Group Company Name
            </label>
            <lib-text-box [FormInput]="GroupCompanyForm.get('Name')"
                [ValidationMessages]="validationMassages.GroupCompanyForm.Name"
                [Configuration]="{PlaceHolder:'Enter Company Name'}">
                <ng-template let-validation>
                    <div class="error-message">{{validation}}</div>
                </ng-template>
            </lib-text-box>
        </div>
        <div class="col-md-3 mb-3">
            <label class="h6 mb-1">
                Group Company Code
            </label>
            <lib-text-box [FormInput]="GroupCompanyForm.get('Code')"
                [ValidationMessages]="validationMassages.GroupCompanyForm.Code"
                [Configuration]="{PlaceHolder:'Enter Company Code'}">
                <ng-template let-validation>
                    <div class="error-message">{{validation}}</div>
                </ng-template>
            </lib-text-box>
        </div>
        <div class="col-md-3 mb-3">
            <label class="h6 mb-1">
                Company Type
            </label>
            <lib-drop-down [FormInput]="GroupCompanyForm.get('TypeId')" [Configuration]='{}'>
                <ng-template let-selectedvalue #options>
                    <option *ngFor="let ctype of CompanyType"[selected]="selectedvalue == ctype.TypeId" [value]="ctype.TypeId">{{ctype.Name}}</option>
                </ng-template>
            </lib-drop-down>
        </div>
        <div class="col-md-3 mb-3">
            <label class="h6 mb-1">
                Incorporation Date
            </label>
            <!-- <input class="form-control custom_date_picker" size="16" type="text" value="02 Oct 2020"> -->
            <lib-ui-datepicker [Configuration]="groupCompanyVM.incorporationDateConfig" [FormInput]="GroupCompanyForm.get('IncorporationDate')">
            </lib-ui-datepicker>
            <div class="error-message">{{DateValidation}}</div>
        </div>
    </div>
    <div class="form-row form-fields">
        <div class="col-md-6">
            <label class="h6 mb-1">
                Address
            </label>
            <lib-text-area [FormInput]="GroupCompanyForm.get('Address')"
                [ValidationMessages]="validationMassages.GroupCompanyForm.Address"
                [Configuration]="{PlaceHolder:'Enter Address', Rows:4 }">
                <ng-template let-validation>
                    <div class="error-message">{{validation}}</div>
                </ng-template>
            </lib-text-area>
        </div>
        <div class="col-md-6">
            <div class="form-row form-fields">
                <div class="col-md-6 mb-2">
                    <label class="h6 mb-1">
                        Country
                    </label>
                    <lib-ui-single-select (OnSelect)="OnCountrySelect($event)" 
                    [Selected]="LocationData.CountryValue"
                    [Configuration]="LocationData.CountryConfig" [Options]="LocationData.CountryList">
                    </lib-ui-single-select>
                </div>
                <div class="col-md-6 mb-2">
                    <label class="h6 mb-1">
                        State
                    </label>
                    <lib-ui-single-select (OnSelect)="OnStateSelect($event)" 
                    [Selected]="LocationData.StateValue"
                    [Configuration]="LocationData.StateConfig" [Options]="LocationData.StateList">
                    </lib-ui-single-select>
                </div>
                <div class="col-md-6 mb-2">
                    <label class="h6 mb-1">
                        City
                    </label>
                    <lib-ui-single-select (OnSelect)="OnCitySelect($event)" 
                    [Selected]="LocationData.CityValue"
                    [Configuration]="LocationData.CityConfig" [Options]="LocationData.CityList">
                    </lib-ui-single-select>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="h6 mb-1">
                        Pin Code
                    </label>
                    <lib-text-box [FormInput]="GroupCompanyForm.get('PinCode')"
                        [ValidationMessages]="validationMassages.GroupCompanyForm.PinCode"
                        [Configuration]="{PlaceHolder:'Enter Pin Code', isNumeric:true}">
                        <ng-template let-validation>
                            <div class="error-message">{{validation}}</div>
                        </ng-template>
                    </lib-text-box>
                </div>
            </div>
        </div>
    </div>
    <div class="form-row form-fields">
        <div class="col-md-3 mb-3">
            <label class="h6 mb-1">
                Contact No.
            </label>
            <lib-text-box [FormInput]="GroupCompanyForm.get('ContcatNo')"
                [ValidationMessages]="validationMassages.GroupCompanyForm.ContcatNo"
                [Configuration]="{PlaceHolder:'Enter Contact number...', isNumeric:true}">
                <ng-template let-validation>
                    <div class="error-message">{{validation}}</div>
                </ng-template>
            </lib-text-box>
        </div>
        <div class="col-md-3 mb-3">
            <label class="h6 mb-1">
                Website
            </label>
            <lib-text-box [FormInput]="GroupCompanyForm.get('WebSite')"
                [ValidationMessages]="validationMassages.GroupCompanyForm.WebSite"
                [Configuration]="{PlaceHolder:'Enter Website...'}">
                <ng-template let-validation>
                    <div class="error-message">{{validation}}</div>
                </ng-template>
            </lib-text-box>
        </div>
    </div>
    <div class="form-row form-fields">
        <div class="col-md-2 mb-3">
            <label class="h6 mb-1">
                PAN
            </label>
            <lib-text-box [FormInput]="GroupCompanyForm.get('PAN')"
                [Configuration]="{PlaceHolder:'Enter PAN'}">
                <ng-template let-validation>
                    <div class="error-message">{{validation}}</div>
                </ng-template>
            </lib-text-box>
        </div>
        <div class="col-md-2 mb-3">
            <label class="h6 mb-1">
                TAN
            </label>
            <lib-text-box [FormInput]="GroupCompanyForm.get('TAN')"
                [Configuration]="{PlaceHolder:'Enter TAN'}">
                <ng-template let-validation>
                    <div class="error-message">{{validation}}</div>
                </ng-template>
            </lib-text-box>
        </div>
        <div class="col-md-2 mb-3">
            <label class="h6 mb-1">
                GSTIN
            </label>
            <lib-text-box [FormInput]="GroupCompanyForm.get('GSTIN')"
                [Configuration]="{PlaceHolder:'Enter GSTIN'}">
                <ng-template let-validation>
                    <div class="error-message">{{validation}}</div>
                </ng-template>
            </lib-text-box>
        </div>
        <div class="col-md-3 mb-3">
            <label class="h6 mb-1">
                PF
            </label>
            <lib-text-box [FormInput]="GroupCompanyForm.get('PF')"
                [Configuration]="{PlaceHolder:'Enter PF'}">
                <ng-template let-validation>
                    <div class="error-message">{{validation}}</div>
                </ng-template>
            </lib-text-box>
        </div>
        <div class="col-md-3 mb-3">
            <label class="h6 mb-1">
                ESIC
            </label>
            <lib-text-box [FormInput]="GroupCompanyForm.get('ESIC')"
                [Configuration]="{PlaceHolder:'Enter ESIC'}">
                <ng-template let-validation>
                    <div class="error-message">{{validation}}</div>
                </ng-template>
            </lib-text-box>
        </div>
    </div>
    <div class="form-row align-items-end mt-3 pt-3 border-top">
        <div class="col-12 text-right">
            <button class="btn btn-outline-custom py-2 px-4 mr-2">cancel</button>
            <button (click)="groupCompanyVM.isSaveActivated ? SaveData():''" class="btn btn-custom py-2 px-4" [disabled]="!groupCompanyVM.isSaveActivated">Save</button>
        </div>
    </div>
</div>